/* base */

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    letter-spacing: .05em;
    color: #151515;
    font-family: "Roboto", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
img {
    vertical-align: bottom;
}
.section-inner {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
}
.section-title {
    font-size: 4rem;
    color: #DD1B57;
    margin-bottom: 49px;
    /* width: 25%; */
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: none;
}
.text-red {
    color: #DD1B57;
}
.pc {
    display: block;
}
.sp {
    display: none;
}

/* header */
.header {
    padding: 30px 70px;
    width: 100%;
}

.header a {
    text-decoration: none;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list {
    display: flex;
}
.header-item {
    margin-right: 30px;
}
.header-item:last-of-type {
    margin-right: 0;
}
.hamburger-btn {
    display: none;
}
.hamburger-menu {
    display: none;
}

/* fv */
.fv {
    min-height: 550px;
    position: relative;
}
.fv img {
    min-height: 550px;
    object-fit: cover;
}
.sp_fv_img {
    display: none;
}
.page-title-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
    line-height: 1;
}
.page-title {
    font-size: 16rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
}
.page-title-bottom {
    font-size: 24px;
    text-align: center;
}

/* news */
.news-wrapper {
    margin: 64px 0 74px 0;
}
.news-inner {
    display: flex;
    column-gap: 88px;
}
.news-item {
    padding: 15px 0 16px 0;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    font-size: 1.5rem;
}
.news-item:first-of-type {
    padding: 0 0 16px 0;
}
.news-item a {
    margin-left: 40px;
}

/* service */
.service-wrapper {
    margin-bottom: 100px;
}
.service-wrapper .section-inner {
    position: relative;
}
.upper-text {
    position: absolute;
    right: 0px;
    top: -69px;
    font-size: 16.8rem;
    font-weight: bold;
    margin: 0 auto;
    opacity: .05;
    z-index: 0;
}
.service-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.service-item {
    width: 32%;
    background-color: #fff;
    box-shadow: 0 3px 21px rgba(0, 0, 0, .16);
    border-radius: 8px;
}
.service-item img {
    width: 48px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}
.service-item-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 5px;
}
.service-item-text {
    padding: 15px 50px 50px 50px;
    font-size: 1.4rem;
}

/* footer */
.footer {
    background-color: #DD1B57;
    color: #fff;
    height: 164px;
}
.footer-nav-list {
    display: flex;
    font-size: 1.4rem;
    padding: 61px 0 9px;
}
.footer-nav-item {
    margin-right: 40px;
}
small {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    /* base_sp */
    .section-inner {
        padding: 0 20px;
    }
    .section-title {
        font-size: 3.2rem;
        margin-bottom: 19px;
        width: 100%;
    }
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }

    /* header_sp */
    .header {
        padding: 0;
        z-index: 1;
        position: relative;
    }
    .header-inner {
        height: 60px;
    }
    .nav-title {
        padding: 0 0 0 20px;
    }
    .header-nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: #DD1B57;
        /* z-index: 2; */
    }
    .header-list {
        height: 100%;
        flex-direction: column;
        padding: 96px 0 0 40px;
    }
    .text-red {
        color: #fff;
        opacity: .5;
    }
    .header-item {
        margin: 0 0 27px;
        color: #fff;
    }
    .header-item:last-of-type {
        margin-bottom: 0;
    }
    .hamburger-menu {
        display: 
    }
    .hamburger-btn {
        display: block;
        background-color: #DD1B57;
        padding: 0px 16px;
        /* padding: 19px 17px 0; */
        width: 60px;
        height: 60px;
        /* z-index: 3; */
    }
    .hamburger-btn .bar {
        display: block;
        width: 26px;
        height: 2px;
        background-color: #fff;
        transition: .3s;
        border-radius: 4px;
    }
    .bar_mid,
    .bar_bottom {
        margin-top: 8px;
    }
    .hamburger-btn.cross .bar_top {
        transform: rotate(45deg) translate(7px, 7px);
        transition: .3s;
    }
    .hamburger-btn.cross .bar_middle {
        opacity: 0;
        transition: .3s;
    }
    .hamburger-btn.cross .bar_bottom {
        transform: rotate(-45deg) translate(7px, -7px);
        transition: .3s;
    }
    body.noscroll {
        overflow: hidden;
    }
    .overlay {
        /* background-color: #000; */
        /* cursor: pointer; */
        height: 100vh;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        /* transition: all 0.6s; */
        visibility: hidden;
        width: 100vw;
        z-index: -1;
    }
    
    /* fv_sp */
    .fv {
        height: calc(100vh - 60px);
    }
    .fv img {
        height: calc(100vh - 60px);
    }
    .fv_img {
        display: none;
    }
    .sp_fv_img {
        display: block;
    }
    .page-title {
        font-size: 8rem;
        font-weight: bold;
    }
    .page-title-bottom {
        font-size: 2rem;
    }

    /* news_sp */
    .news-wrapper {
        margin: 33px 0 58px 0;
    }
    .news-inner {
        display: block;
    }
    .news-item {
        flex-flow: column;
        padding: 20px 0 16px 0;
    }
    .news-item:first-child {
        padding: 0 0 16px 0;
    }
    .news-item a {
        margin-left: 0px;
        margin-top: 7px;
    }

    /* service_sp */
    .service-wrapper {
        margin-bottom: 60px;
    }
    .upper-text {
        right: 0px;
        top: -5px;
        font-size: 7rem;
    }
    .service-list {
        display: block;
    }
    .service-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .service-item img {
        width: 60px;
        padding-top: 40px;
    }
    .service-item-title {
        margin-top: 7px;
    }
    .service-item-text {
        padding: 10px 30px 40px 30px;
    }

    /* footer_sp */
    .footer {
        height: 120px;
    }
    .footer-nav-list {
        font-size: 1.2rem;
        padding: 41px 0 9px;
    }
    .footer-nav-item {
        margin-right: 25px;
    }
    small {
        font-size: 1rem;
        margin-bottom: 29px;
    }
}
